.deactivate-container {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.deactivate-container h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #dc2626;
}
.my-info-card{
    background-color: #fff;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 1px 2ps rgba(0,0,0,0.5);
}
.my-info-card p{
    font-size: 1rem;
    color: #1F2937;
    margin: 0.5rem 0;
}
.warning-text {
    background-color: #fef2f2;
    color: #991b1b;
    padding: 1rem;
    border-radius: 5px;
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
}

.my-acc-deactivate-btn {
    background-color: #dc2626;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.deactivate-btn:hover {
    background-color: #b91c1c;
}

.confirm-box {
    background-color: #fff7ed;
    padding: 1rem;
    border: 1px solid #facc15;
    border-radius: 5px;
}

.confirm-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.confirm-btn {
    background-color: #dc2626;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.cancel-btn {
    background-color: #e5e7eb;
    color: #111827;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}
