.reset-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 700px;
}
.reset-header{
    position: fixed;
    background-color: #2563eb;
    width: 100%;
    justify-content: space-between;
    left: 0;
    top: 0;
    display: flex;
    z-index: 1000;
    height: 15vh;
}
.reset-header-h1{
     font-family: Epilogue;
    margin-left: 30px;
    color: white;
    margin-top: 25px;
}
.reset-nav{
    padding-top: 30px;
    justify-content: space-around;
    margin-right: 30px;
}
.reset-back-link{
    font-family: Inter;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.reset-back-link:hover{
    background-color: rgb(159, 159, 255);
    color: black;
}
.reset-container{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 5px rgba(73, 43, 133, 0.15);
    padding: 20px;
    max-width: 700px;
    width: 100%;
    margin-top: 30px;
    height: 500px;
    animation: slideUpFadeIn 0.6s ease-out forwards;
}
.reset-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.reset-form h2{
    font-family: Epilogue;
    margin-bottom: 50px;
    font-size: 24px;
    color: black;
    text-align: center;
}
.reset-message{
    text-align: center;
}
.reset-input-fields{
    display: flex;
    flex-direction: column;    
}
.reset-input-fields .reset-input{
    width: 300px;
    height: 3vh;
    border: 2px solid #2563eb;
    border-radius: 20px;
    padding: 15px;
}
.reset-input-fields .reset-input:focus{
    border-color: rgb(159, 159, 255);
    outline: none;
}
.reset-input-fields .reset-input::placeholder{
    font-family: Inter;
    font-weight: 500;
}
.reset-btn{
    font-family: Inter;
    font-weight: 500;
    width: 40%;
    height: 7vh;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    background-color: #2563eb;
    margin-top: 25px;
    font-weight: 400;
    justify-content: center;
}
.reset-btn:hover{
    background-color: #1D4ED8;
}
.reset-info{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.hidden{
    display: none;
    
}