.index-body {
    font-family: sans-serif;
    color: #333;
}

.index-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #222;
    color: #fff;
}
.index-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.index-nav-links {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.index-search-bar input {
    padding: 5px;
    border-radius: 4px;
}

.index-hero-section {
    background-color: #ccc;
    pad: 40px;
    text-align: center;
}

.index-main-content {
    display: flex;
    padding: 20px;
}

.index-filters {
    width: 200px;
    margin-right: 20px;
}

.index-filters h3 {
    margin-bottom: 10px;
}
.index-filters select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}
.index-product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220, 1fr));
    gap: 15px;
    flex-grow: 1;
}
.index-product-card {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
}
.index-product-card img{
    aspect-ratio: 3/3;
    width: 200px;
}
.index-product-card h4 {
    margin: 10px 0;
}
.index-product-card .index-pricec{
    color: green;
    font-weight: bold;
}
.index-product-card .index-condition {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

.index-footer {
    background: #333;
    color: #fff;
    padding: 20px;
}
.index-footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.index-footer-top input {
    padding: 5px;
    margin: 0 10px; 
}
.index-footer-links {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}