.manage-users-container {
  padding: 2rem;
}

h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.User-search {
  display: flex;
  align-items: center;
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 8px  15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.search-icon {
  font-size: 20px;
  color: #777;
  margin-right: 8px;
}
.user-search-input{
  padding: 15px;
  border: none;
  flex: 1;
  outline: none;
  font-size: 16px;
  color: #333;
}
.message {
  color: green;
  margin-bottom: 1rem;
}

.users-table {
  width: 100%;
  border-collapse: collapse;
}

.users-table th,
.users-table td {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  text-align: left;
}

.users-table select {
  margin-right: 0.5rem;
  padding: 0.2rem;
}
.user-manage-btns {
  margin-top: 5px;
  display: flex;
  gap: 2px;
}
.delete-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c0392b;
}
.deactivate-btn {
  background-color: orange;
  color: #fff;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}
.deactivate-btn:hover {
  background-color: darkorange;
}
.activate-btn {
  background-color: rgb(58, 158, 0);
  color: #fff;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}
.activate-btn:hover{
  background-color: rgb(1, 143, 1);
}
