.manage-categories {
    padding: 20px;
}
.manage-categories table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.manage-categories th,
.manage-categories td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.manage-categories th {
    background-color: #f5f5f5;
}

.manage-categories input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    font-size: 1rem;
}

.manage-categories button {
    padding: 8px 12px;
    margin-top: 10px;
}

