.manage-products-cards {
    padding: 2rem;
}
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}
.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.product-image{
    aspect-ratio: 3/3;
    width: 200px;
    padding: 10px;
    margin-left: 30px;
    /* width: 100%; */
    /* height: 500px; */
    /* object-fit: cover; */
}
.product-details{
    padding: 1rem;
    flex: 1;
}
.product-details h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.product-details p{
    margin: 0 2.5rem 0;
}
.action-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.approve-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.reject-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.message{
    margin-bottom: 1rem;
    font-weight: bold;
}