.landingPage-body{
    margin:0;
    justify-content: center;
    align-items: center;
}
.landingPage-header{
    background-color: rgb(80, 80, 191);
    position: fixed;
    width:100%;
    justify-content: space-between;
    left: 0;
    top: 0;
    display: flex;
    z-index: 1000;
    height: 15vh;
}
.landingPage-h1{
    font-family: Epilogue;
    margin-left: 30px;
    color: white;
    margin-top: 25px;
    
}
.landingPage-nav{
    padding-top: 30px;
    justify-content: space-around;
    margin-right: 30px;
}

.landingPage-sign-in-link{
    font-family: Inter;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
}
.landingPage-sign-in-link:hover{
    background-color: rgb(159, 159, 255);
    color: black;
}
.landingPage-section1{
    display: flex;
    height: 400px;
}
.landingPage-motto{
    /* position: absolute; */
    margin-top: 100px;
    text-align: center;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 1.5rem;
    padding: 2px;
    border-radius: 5px;
}
.landingPage-motto h2{
    font-family: Epilogue;
    margin-left: 150px;
    margin-top: 100px;
    color: black;
    font-size: 40px;
}
.landingPage-motto p{
    font-family: Inter;
    margin-left: 150px;
    color: black;
    font-size: 20px;
}

/*Section 2*/
.landingPage-section2{
    background-color: white;
}
.landingPage-section2 h3{
    font-family: Epilogue;
    text-align: center;
    font-size: 24px;
    padding: 20px;
}
.landingPage-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    gap: 10px;
}
.landingPage-card{
    background-color: white;
    border-radius: 20px;
    border-color: rgb(184, 182, 182);
    box-shadow: 0 0 10px 5px rgba(73, 43, 133, 0.15);
    padding: 20px;
    width: 250px;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}
.landingPage-card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba( 0,0,0,0.2);
    background-color: #f0f0f0;
    cursor: default;
}
@media (max-width: 768px) {
    .landingPage-card-container {
        align-items: center;
    }
    .landingPage-card{
        width:100px;
    }
}
.landingPage-card img{
    width: 100%;
    border-radius:  8px 8px 0 0;
    margin-top: 2px;
}
.landingPage-card p{
    color: black;
    font-family: Inter;
}

/*Engagement section*/
.landingPage-engagement-section{
    margin-top: 40px;
    text-align: center;
}
.landingPage-engagement-section h2{
    font-family: Epilogue;
    font-size: 28px;
    margin-bottom: 40px;
}
.landingPage-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}
.landingPage-service{
    background-color: #9ec0f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.landingPage-service h3{
    font-family: Epilogue;
    font-size: 20px;
    margin-bottom: 10px;
}
.landingPage-service p {
    font-family: Inter;
    font-size: 16px;
}
 .landingPage-service:hover {
    cursor: default;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
 @media (max-width: 768px) {
    .landingPage-services {
      flex-direction: column;
      align-items: center;
    }
  
    .landingPage-service {
      width: 100%;
    }
}
/* Get Started */
.landingPage-get-started{
    text-align: center;
    height: 200px;
    background-color: #f7f8f6c7;
  }
.landingPage-get-started h3{
    font-family: Epilogue;
    padding: 30px;
}
.landingPage-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.landingPage-buy-btn, .landingPage-sell-btn{
    font-family: Inter;
    width: 200px;
    height: 7vh;
    border-radius: 14px;
    background-color: rgb(80, 80, 191);
    color: white;
    font-weight: 400;
    margin-bottom: 30px;
    border: none;
}
.landingPage-buy-btn:hover, .landingPage-sell-btn:hover{
    background-color: rgb(93, 93, 154);
    color: black;
}

/* Footer */
.landingPage-footer{
    font-family: Inter;
    text-align: center;
    background-color: rgb(103, 103, 103);
    color: white;
    height: 50px;
    padding: 2px;
}