.signup-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 800px;
}
.signup-header{
    position: fixed;
    background-color: rgb(80, 80, 191);
    width: 100%;
    justify-content: space-between;
    left: 0;
    top: 0;
    display: flex;
    z-index: 1000;
    height: 15vh;
}
.signup-header .signup-h1{
    font-family: Epilogue;
    margin-left: 30px;
    color: white;
    margin-top: 25px;
}
.signup-nav{
    padding-top: 30px;
    justify-content: space-around;
    margin-right: 30px;
}
.signup-back-link{
    font-family: Inter;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.signup-back-link:hover{
    background-color: rgb(159, 159, 255);
    color: black;
}
.signup-container{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 5px rgba(73, 43, 133, 0.15);
    padding: 20px;
    max-width: 700px;
    width: 100%;
    margin-top: 30px;
    height: 600px;
    animation: slideUpFadeIn 0.6s ease-out forwards;
}
.signup-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.signup-form h2{
    font-family: Epilogue;
    margin-bottom: 50px;
    font-size: 24px;
    color: black;
    text-align: center;
}
.signup-input-fields{
    display: flex;
    flex-direction: column;
    
}
.signup-input-fields .signup-input{
    width: 300px;
    height: 3vh;
    border: 2px solid rgb(80, 80, 191);
    border-radius: 20px;
    padding: 15px;
}
.signup-input-fields .signup-input:focus{
    border-color: rgb(159, 159, 255);
    outline: none;
}
.signup-input-fields .signup-input::placeholder{
    font-family: Inter;
    font-weight: 500;
}
.signup-role{
    width: 330px;
    height: 9vh;
    border: 2px solid rgb(80, 80, 191);
    padding: 15px;
    border-radius: 20px;
}
.signup-btn{
    font-family: Inter;
    font-weight: 500;
    width: 30%;
    height: 7vh;
    border-radius: 20px;
    background-color: transparent;
    border-color: rgb(80, 80, 191);
    margin-top: 25px;
    font-weight: 400;
    justify-content: center;
}
.signup-btn:hover{
    border-color: rgb(159, 159, 255);
}