.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 700px;
}
.login-header{
    position: fixed;
    background-color: rgb(80, 80, 191);
    width: 100%;
    justify-content: space-between;
    left: 0;
    top: 0;
    display: flex;
    z-index: 1000;
    height: 15vh;
}
.login-header .login-h1{
    font-family: Epilogue;
    margin-left: 30px;
    color: white;
    margin-top: 25px;
}
.login-nav{
    padding-top: 30px;
    justify-content: space-around;
    margin-right: 30px;
}
.login-back-link{
    font-family: Inter;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.login-back-link:hover{
    background-color: rgb(159, 159, 255);
    color: black;
}
.login-container{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 5px rgba(73, 43, 133, 0.15);
    padding: 20px;
    max-width: 700px;
    width: 100%;
    margin-top: 30px;
    height: 500px;
    animation: slideUpFadeIn 0.6s ease-out forwards;
}
@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform:  translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.loginForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.loginForm h2{
    font-family: Epilogue;
    margin-bottom: 50px;
    font-size: 24px;
    color: black;
    text-align: center;
}
.login-input-fields{
    display: flex;
    flex-direction: column;
    
}
.login-input-fields .login-input{
    width: 300px;
    height: 3vh;
    border: 2px solid rgb(80, 80, 191);
    border-radius: 20px;
    padding: 15px;
}
.login-input-fields .login-input:focus{
    border-color: rgb(159, 159, 255);
    outline: none;
}
.login-input-fields .login-input::placeholder{
    font-family: Inter;
    font-weight: 500;
}
.reset-forgot-pass{
    font-family: Inter;
    text-decoration: none;
    margin-left: 160px;
}
.login-btn{
    font-family: Inter;
    font-weight: 500;
    width: 30%;
    height: 7vh;
    border-radius: 20px;
    background-color: transparent;
    border-color: rgb(80, 80, 191);
    margin-top: 25px;
    font-weight: 400;
    justify-content: center;
}
.login-btn:hover{
    border-color: rgb(159, 159, 255);
}
.dont-have-account{
    margin-top: 30px;
    font-family: Inter;
}
.dont-have-account-link{
    font-family: Inter;
    text-decoration: none;
}
.loginMessage{
    font-family: Inter;
    margin-top: 10px;
    /* margin-left: 60px; */
    font-size: 14px;
    text-align: center;
}